hr{
    color: white;
    opacity: 0.3;
}
.countnum{
    font-size: 650%;
}
.chartimg{
    margin-top: 3em;
}
.wrapper{
    max-width: 500px;
}
.wrapperwmargin{
    margin: 2em;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-image: linear-gradient(#478def, #4a92f7);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
#toppages{
    display: grid;
    grid-template-columns: 90% 10%;
    grid-auto-flow: row;
}
.link{
    border-top: solid white 1px;  
}
.num{
    border-top: solid white 1px;
}
.reportp{
    text-align: right;
    font-weight: bold;
}

