.title{
    color: #79d69f;
    font-size: x-large;
}

.smallcaps{
    font-variant-caps: all-small-caps;
}

.accent{
    font-size: 115%;
    letter-spacing: 2px;
}

body{
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.card{
    display: grid;
    grid-template-rows: 60% 10% 30%;
    row-gap: 15px;
    flex: 1;
    margin: 4em;
}

.img{
    place-self: center;
    height: 125px;
}


@media only screen and (max-width: 688px ){
    body{
        display: flex;
        flex-flow: column;
    }
}