hr{
    color: white;
    opacity: 0.3;
}
.countnum{
    font-size: 650%;
}
.chartimg{
    margin-top: 3em;
}

.wrapper{
    max-width: 500px;
}
.wrapperwmargin{
    margin: 2em;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: #478def;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

#toppages{
    display: grid;
    grid-template-rows: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
    grid-template-columns: 90% 10%;
    
}
.topactivity{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.users{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.link1{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.num1{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.link2{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.num2{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.link3{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
.num3{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.link4{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}
.num4{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
.link5{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}
.num5{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.reportp{
    float: inline-start;
}
.reportlink{
    color: white;
    float:inline-end
}
